.footer {
  display: flex;
  background-color: #203040;
  color: white;
}

.footer__ourTeam {
  margin: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__link {
  text-decoration: none;
}

.footer__ourTeam__member {
  color: lightgrey;
  margin: 2px 0 2px 10px;
}
